html {
  overflow: hidden;
}
body {
  background-color: #ecf0f1;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px !important;
}


/***** Box with Rounded Corners *****/
.boxed {
  margin-bottom: 20px;
}
.boxed .inner {
  padding: 12px 20px;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
  color: #7f95a9;
  overflow: hidden;
}
.boxed .inner:after {
  content: '';
  clear: both;
  display: block;
}
.boxed .inner input {
  width: 100%;
}
.boxed .inner.no-radius {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.boxed .inner h1,
.boxed .inner h2,
.boxed .inner h3,
.boxed .inner h4,
.boxed .inner h5,
.boxed .inner h6 {
  margin: 0px;
  padding: 0px;
}
.boxed .inner h2.divider,
.boxed .inner h3.divider {
  margin: 10px 0px;
}
.boxed.no-padding .inner {
  padding: 0px;
}
.boxed .title-bar {
  background-color: #fafafa;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  border-bottom: 1px solid #eff2f7;
}
.boxed .title-bar.white {
  background-color: #ffffff;
}
.boxed .title-bar.gray {
  background-color: #fafafa;
}
.boxed .title-bar.white h4 {
  color: #b7c9cd;
}
.boxed .title-bar h4 {
  font-weight: normal;
  color: #b7c9cd;
  margin: 0;
  font-size: 13px;
  float: left;
  width: 70%;
  text-transform: uppercase;
  line-height: 20px;
}
.boxed .title-bar .actions {
  float: right;
  width: 25%;
  text-align: right;
  margin: 0;
  padding: 0;
}
.boxed .title-bar .actions li {
  display: inline-block;
  padding-right: 8px;
}
.boxed .title-bar .actions li a i {
  color: #a9abab;
}
.boxed .title-bar .actions li a {
  font-size: 14px;
}
.boxed .title-bar .actions:after {
  display: inline-block;
  content: '';
  clear: both;
}




/*
  Basic Form
*/
.basic-form {
  padding: 20px;
}
.basic-form.no-padding {
  padding: 0px;
}
.basic-form label,
form label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #72879c;
  margin: 10px 0px;
}
.basic-form input,
.basic-form textarea,
.basic-form select,
form input,
form textarea,
form select {
  display: block;
  border: 1px solid #c6ced0;
  border-radius: 3px;
  padding: 7px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  resize: none;
}
form input[type="checkbox"],
.basic-form input[type="checkbox"] {
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}
form input[type="checkbox"].block {
  display: block;
  width: 100%;
}
form .icheck-label {
  display: inline-block;
}
form input:focus,
.basic-form input:focus {
  border: 1px solid #d6dfe1;
  -webkit-box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
  -moz-box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
  box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
}
form .description {
  font-size: 11px;
  color: #b6bfc1;
}
.basic-form .left-side {
  width: 49%;
  display: inline-block;
  text-align: left;
  float: left;
}
.basic-form .right-side {
  width: 49%;
  display: inline-block;
  text-align: right;
  float: right;
}
/***** Full Form *****/
.full-form {
  padding: 20px;
}
.full-form label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #72879c;
  width: 100%;
  vertical-align: top;
}
.full-form input,
.full-form textarea,
.full-form select {
  vertical-align: top;
  display: block;
  border: 1px solid #d6dfe1;
  border-radius: 3px;
  padding: 7px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.full-form input[type="checkbox"],
.full-form input[type="radio"] {
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}
.full-form input:focus {
  border: 1px solid #d6dfe1;
  -webkit-box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
  -moz-box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
  box-shadow: 0px 0px 8px rgba(94, 202, 212, 0.75);
}
.full-form .col-md-3,
.full-form .col-md-9 {
  margin-bottom: 10px;
}
/***** Horizontal Form ******/
.horizontal-form label {
  display: inline-block;
  width: 100%;
}
.horizontal-form input {
  display: inline-block;
  width: 100%;
}
/* Inline Form */
.inline-form label {
  display: block;
  width: auto;
  margin-right: 0px;
  text-align: right;
}
.inline-form input {
  display: inline-block;
  width: 300px;
  margin-right: 15px;
}
.inline-form .left-side {
  float: none;
  width: auto;
  margin-right: 15px;
}
.inline-form .right-side {
  float: none;
  width: auto;
}